In [544]:
#Capstone Project Python Fundamentals by Ashish Deshmukh

In [546]:
import pandas as pd

In [548]:
#task 1 There are three different tables as given above. Please make three dataframe in python

In [550]:
#task 1 Solution - 
#creation of first data frame named as 'project data frame'
df = pd.DataFrame({'ID':['A001','A002','A003','A004','A005','A002','A005','A003','A001','A003','A001','A004','A004','A005'],'Project':['Project 1','Project 2','Project 3','Project 4','Project 5','Project 6','Project 7','Project 8','Project 9','Project 10','Project 11','Project 12','Project 13','Project 14'],
                   'cost':[1002000,2000000,4500000,5500000,None,680000,400000,350000,None,300000,2000000,1000000,3000000,200000],'status':['Finished','Ongoing','Finished','Ongoing','Finished','Failed','Finished','Failed','Ongoing','Finished','Failed','Ongoing','Finished','Finished']})

In [552]:
df.to_csv('Project_dataframe.csv',index=False)
print(df)

      ID     Project       cost    status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [554]:
#creation of sencong data fraome named as 'Employee data from"
df1=pd.DataFrame({'ID':['A001','A002','A003','A004','A005'],'Name':['John Alter','Alice Luxumberg','Tom Sabestine','Nina Adgra','Amy Johny'],'Gender':['M','F','M','F','F'],
'City':['Paris','London','Berlin','Newyork','Madrid'],'Age':[25,27,29,31,30]})

In [556]:
df1.to_csv('Employee_dataframe.csv',index=False)
print(df1)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [558]:
#Creation of third data frame named as "Seniority level data frome'
df2=pd.DataFrame({'ID':['A001','A002','A003','A004','A005'],'Designation Level':[2,2,3,2,3]})

In [560]:
df2.to_csv('Seniority_level_dataframe.csv',index=False)
print(df2)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [562]:
#task 2 - The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You should use the “For” loop for this task.

In [564]:
#Tast 2 Solution -

df5=pd.read_csv('Project_dataframe.csv')
# Calculating running average and filling missing values
running_sum = 0
count = 0

# Iterate through the rows of the DataFrame
for index, row in df5.iterrows():
    if pd.isna(row['cost']):
        # If 'cost' is missing, fill it with the running average
        if count > 0:
            running_avg = running_sum / count
        else:
            running_avg = 0  # If no previous values, assume 0
        df5.at[index, 'cost'] = running_avg
    else:
        # If 'cost' is not missing, update the running sum and count
        running_sum += row['cost']
        count += 1

# Displaying the updated DataFrame
print(df5)

      ID     Project          cost    status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

In [566]:
# Task 3 - Split the name column in the Employee dataframe into two new columns “First Name”, band “LastName” and remove the older “name” column.

In [568]:
# Task 3 - Solution - 
# Handling names with more than two parts by splitting the 'Name' column into First and Last
df6=pd.read_csv('Employee_dataframe.csv')

df6[['First Name', 'Last Name']] = df6['Name'].str.extract(r'([A-Za-z]+)\s+(.+)')

# Dropping the original 'Name' column
df6.drop(columns=['Name'], inplace=True)

# Displaying the updated DataFrame
print(df6)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [570]:
# Tasgk 4 - Join all three dataframes in one single dataframe. Name it “Final”

In [572]:
# task 4 solution - 

# Read the CSV files into DataFrames
project_df = pd.read_csv('Project_dataframe.csv')
employee_df = pd.read_csv('Employee_dataframe.csv')
seniority_df = pd.read_csv('Seniority_level_dataframe.csv')

# Merge the DataFrames
# First merge project_df and employee_df on 'ID'
merged_df = pd.merge(project_df, employee_df, on='ID', how='inner')

# Now merge the result with seniority_df on 'ID'
final_df = pd.merge(merged_df, seniority_df, on='ID', how='inner')

# Save the final merged DataFrame to a CSV file
final_df.to_csv('Final.csv', index=False)

# Displaying the output
print(final_df)

      ID     Project       cost    status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level
0    25                  2
1    27                  2
2    29                  3
3    31                  2
4    30                  3
5    27                  2
6    30                  3
7    29                  3
8    25                  2
9    29                  3
10   25                  2
11   31                  2
12   31                  2
13   30                  3

In [574]:
# Task 5 - Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

In [576]:
#task 5 Solution - 
final_bonus = pd.read_csv('Final.csv')

# Adding a new column 'Bonus' to the DataFrame
final_bonus['Bonus'] = final_bonus.apply(
    lambda row: row['cost'] * 0.05 if row['status'] == 'Finished' and pd.notnull(row['cost']) else None, axis=1
)

final_bonus.to_csv('final_bonus.csv', index=False)
# Display the updated DataFrame with the 'Bonus' column
print(final_bonus)

      ID     Project       cost    status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level     Bonus
0    25                  2   50100.0
1    27                  2       NaN
2    29                  3  225000.0
3    31                  2       NaN
4    30                  3       NaN
5    27                  2       NaN
6    30                  3   20000.0
7    29                  3       NaN
8    25                  2       NaN
9    29                  3   15000.0
10   25                  2       NaN
11   31                  2       NaN
12   31                  2  150000.0
13   30                  3   10000.0

In [578]:
#task 6 - Demote the designation level by 1, whose projects have status “fail”. Delete the employees record whose designation level is above 4.

In [580]:
#tast 6 solution - 
df7=pd.read_csv('final_bonus.csv')
# 1. Demote the designation level by 1 for employees whose projects have status "Failed"
df7.loc[df7['status'] == 'Failed', 'Designation Level'] -= 1

# 2. Delete employee records whose designation level is above 4
df7 = df7[df7['Designation Level'] <= 4]

df7.to_csv('final_bonus.csv',index=False)
# Display the updated DataFrame
print(df7)

      ID     Project       cost    status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level     Bonus
0    25                  2   50100.0
1    27                  2       NaN
2    29                  3  225000.0
3    31                  2       NaN
4    30                  3       NaN
5    27                  1       NaN
6    30                  3   20000.0
7    29                  2       NaN
8    25                  2       NaN
9    29                  3   15000.0
10   25                  1       NaN
11   31                  2       NaN
12   31                  2  150000.0
13   30                  3   10000.0

In [582]:
    #task 7 - Add “Mr.” and “Mrs.” to the first name column and drop the gender column

In [584]:
#task 7 Solution -  

df8 = pd.read_csv('final_bonus.csv')

# Adding "Mr." or "Mrs." to the first name based on gender
df8['First Name'] = df8['Name'].apply(lambda x: 'Mr. ' + x.split()[0] if df8.loc[df8['Name'] == x, 'Gender'].values[0] == 'M' else 'Mrs. ' + x.split()[0])

# Dropping the Gender column
df8.drop(columns=['Gender'], inplace=True)

# Display the updated DataFrame
print(df8)

      ID     Project       cost    status             Name     City  Age  \
0   A001   Project 1  1002000.0  Finished       John Alter    Paris   25
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg   London   27
2   A003   Project 3  4500000.0  Finished    Tom Sabestine   Berlin   29
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra  Newyork   31
4   A005   Project 5        NaN  Finished        Amy Johny   Madrid   30
5   A002   Project 6   680000.0    Failed  Alice Luxumberg   London   27
6   A005   Project 7   400000.0  Finished        Amy Johny   Madrid   30
7   A003   Project 8   350000.0    Failed    Tom Sabestine   Berlin   29
8   A001   Project 9        NaN   Ongoing       John Alter    Paris   25
9   A003  Project 10   300000.0  Finished    Tom Sabestine   Berlin   29
10  A001  Project 11  2000000.0    Failed       John Alter    Paris   25
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra  Newyork   31
12  A004  Project 13  3000000.0  Finished       Nina Adgra  Newyork   31
13  A005  Project 14   200000.0  Finished        Amy Johny   Madrid   30

    Designation Level     Bonus  First Name
0                   2   50100.0    Mr. John
1                   2       NaN  Mrs. Alice
2                   3  225000.0     Mr. Tom
3                   2       NaN   Mrs. Nina
4                   3       NaN    Mrs. Amy
5                   1       NaN  Mrs. Alice
6                   3   20000.0    Mrs. Amy
7                   2       NaN     Mr. Tom
8                   2       NaN    Mr. John
9                   3   15000.0     Mr. Tom
10                  1       NaN    Mr. John
11                  2       NaN   Mrs. Nina
12                  2  150000.0   Mrs. Nina
13                  3   10000.0    Mrs. Amy

In [586]:
##Task 8 - Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

In [588]:
#Tsdk 8 Solution - 
    
df10 = pd.read_csv('final_bonus.csv')

# Iterate over the rows of the DataFrame
for index, row in df10.iterrows():
    if row['Age'] > 29:
        # Update the Designation Level for that row
        df10.at[index, 'Designation Level'] += 1

df10.to_csv('final_bonus.csv', index=False)
# Printing the updated DataFrame
print(df10)

      ID     Project       cost    status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level     Bonus
0    25                  2   50100.0
1    27                  2       NaN
2    29                  3  225000.0
3    31                  3       NaN
4    30                  4       NaN
5    27                  1       NaN
6    30                  4   20000.0
7    29                  2       NaN
8    25                  2       NaN
9    29                  3   15000.0
10   25                  1       NaN
11   31                  3       NaN
12   31                  3  150000.0
13   30                  4   10000.0

In [590]:
#Task 9 - Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost

In [592]:
#Task 9 Solution - 

df11 = pd.read_csv('final_bonus.csv')

# Replace None/NaN with 0 in 'cost' column
df11['cost'] = df11['cost'].fillna(0)

# Extract first name from the 'Name' column
df11['First Name'] = df11['Name'].apply(lambda x: x.split()[0])

# Group by ID and First Name, and sum the cost for each group
total_proj_cost = df11.groupby(['ID', 'First Name'])['cost'].sum().reset_index()

# Rename the 'cost' column to 'Total cost'
total_proj_cost.rename(columns={'cost': 'Total cost'}, inplace=True)

total_proj_cost.to_csv('totalprojcost.csv',index=False)
# Printing the resulting DataFrame
print(total_proj_cost)

     ID First Name  Total cost
0  A001       John   3002000.0
1  A002      Alice   2680000.0
2  A003        Tom   5150000.0
3  A004       Nina   9500000.0
4  A005        Amy    600000.0

In [594]:
#task 10 - Print all the employee details whose city name contains the letter “o” in it.

In [596]:
#task 10 solution - 

df12=pd.read_csv('final_bonus.csv')

# Filter the employees whose city contains the letter "o"
filtered_df = df12[df12['City'].str.contains('o', case=False, na=False)]

filtered_df.to_csv('final_bonus.csv',index=False)
# Printing the filtered employee details
print(filtered_df)

      ID     Project       cost    status             Name Gender     City  \
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork

    Age  Designation Level     Bonus
1    27                  2       NaN
3    31                  3       NaN
5    27                  1       NaN
11   31                  3       NaN
12   31                  3  150000.0